* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

/* header styles start */

.header-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 178px;
}

.header-information {
    margin-left: 200px;
}

.header-title {
    margin-bottom: 32px;
    font-size: 80px;
}

.header-description {
    margin-bottom: 32px;
}

.primary-btn {
    padding: 20px 43px;
    border-radius: 8px;
    border: 0;
    background: #E55473;
    color: white;

}

.header-img {
    margin-right: 150px;
    margin-top: 50px;
}

/* header styles end */

/* featured style start  */

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-description {
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.featured-container {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.img-one {
    width: 300px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 32px 32px 0px 32px;

}

.img-two {
    width: 300px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 32px 32px 0px 32px;
}

.img-three {
    width: 300px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 32px 32px 0px 32px;
}

.img-five {
    width: 350px;
}

.img-four {
    width: 285px;
}

.flower-name-container {
    display: flex;
    justify-content: center;
    gap: 260px;
}

.flower-name {

    text-decoration: underline;
}

/* featured style end */

/*  <!-- featured style start --> */

.support-container {
    width: 55%;
    margin: auto;
    padding: 40px;
    margin-top: 128px;
    margin-bottom: 128px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.support-icon {
    text-align: center;
}


/*   featured style end  */

/* offer style start */

.offer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px;
    margin-bottom: 128px;
}

.offer-information {}

.offer-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.offer-description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.span-off {
    color: #E55473;
}

.btn-primary {
    margin-top: 32px;
    border-radius: 8px;
    border: none;
    background: #E55473;
    color: white;
    padding: 20px 43px;
    margin-left: 250px;
    
}

.offer-img {}

/* offer style end */